#about-title {
	font-size: 40px;
	font-weight: 700;
	/* line-height: 64px; */
	color: #003A70;

	height: 20%;
	margin-bottom: 20px;

	text-align: center;
}

#about-desc {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 70%;
	overflow: auto;
	text-align: center;
}

#label {
	font-size: 15px;
	margin-top: 20px;
	height: 70%;
	overflow: auto;
}


