html {
	height: calc(100% - 3em);
	/*min-width: 1600px;*/
	/*min-height: 900px;*/
}

body {
	/* font-family: 'Droid Sans', sans-serif; */
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 10px;

	padding: 0em;
	margin: 0em;

	width: 100%;
	height: 100%;
	background-color: #c1e7ff;
}

img {
	width: 100%;
	height:100%;
}



/* common classes */
.left {
	float: left;
}

.right {
	float: right;
}

.width30 {
	width: 30%;
}

.width70 {
	width: 70%;
}



/* CONTENT STYLING */
.content-body {
	width: 100%;
	height: 100%;
	display: none;
}

.content-pane {
	position: relative;
	height: 100%;
}



/* NAV BAR STYLING */
.navbar {
	position: fixed;
	margin: 0em 0em;
	padding: 0em 0em;

	bottom: 0;
	width: 100%;
	height: 3.5em;
	line-height: 3.5em;

	font-size: 2em;

	background-color: #003A70;
}

.navbar-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0px -3px;
	padding: 0em;

	top: -3px;
	height: 100%;

	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
}


/* specic navbar */
.navbar-logo {
	padding: 0em 2em 0em 4em;
	width: 2.5em;
	height: 2.5em;
}

.navbar-menuitem {
	padding: 0em 2em;
	color: #5cbfff;
}

.navbar-menuitem:hover {
	background-color: #FDB515;
	color: #003A70;
}

.navbar-right {
	float: right;
	margin-right: 1em;
	color: #FDB515;
}